<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to Code Sixty</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>

<body class="bgc-off-white">
  <div class="row">
    <div class="small-12 columns debug">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#" class="c-blue">Code60</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="#" class="c-blue">Login</a></li>
            <li><a href="#" class="c-blue">Sign Up</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  <section class="hero bgc-gray-blue debug" style="height: 600px;">
    <div class="row intro">
      <div class="small-12 text-center columns debug" style="padding-top: 100px;">
        <h1 style="color: white;">Learn To Code</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 text-center columns debug">
        <h5 style="color: white;">Welcome to Code60, your coding resource guide.</h5>
      </div>
    </div>
  </section>

  <section>
    <div class="row debug" style="padding: 100px 0 100px 0;">
      <div class="small-4 columns text-center debug">
        <div class="row">
          <div class="small-11 columns small-centered text-center bgc-blue debug">
            <h3>Install Fest</h3>
            <br>
            <h4>icon here</h4>
            <br>
            <h5>Description text that talks about what this section is going to cover.</h5>
          </div>
        </div>
      </div>
      <div class="small-4 columns text-center debug">
        <div class="row">
          <div class="small-11 columns small-centered text-center bgc-blue debug">
            <h3>Terminal</h3>
            <br>
            <h4>icon here</h4>
            <br>
            <h5>Description text that talks about what this section is going to cover.</h5>
          </div>
        </div>
      </div>
      <div class="small-4 columns text-center debug">
        <div class="row">
          <div class="small-11 columns small-centered text-center bgc-blue debug">
            <h3>What Goes Here</h3>
            <br>
            <h4>icon here</h4>
            <br>
            <h5>Description text that talks about what this section is going to cover.</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="bgc-gray-blue">
    <div class="row">
      <div class="small-12 columns text-center">
        <h1>FOOTER</h1>
      </div>
    </div>
  </footer>

  <script src="/assets/js/main.js"></script>
</body>
</html>