<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to Code Sixty</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>

<body>

  <!-- <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>codeSixty</h1>
      </li>

    </ul>


  </nav> -->

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">My Site</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">Right Button Active</a></li>
        <li class="has-dropdown">
          <a href="#">Right Button Dropdown</a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
            <li class="active"><a href="#">Active link in dropdown</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul>
    </section>
  </nav>

  <section class="hero debug">
    <div class="row intro">
      <div class="small-centered medium-uncentered medium-6 large-7 columns debug">
        <h1>Learn To Code</h1>
        <p>Welcome to Code 60, your coding resource guide.</p>
      </div>
    </div>
  </section>

  <script src="/assets/js/main.js"></script>
</body>
</html>